<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <a routerLink="" (click)="closeNav()">Home</a>
    <a routerLink="aboutme" (click)="closeNav()">About Me</a>
    <a routerLink="hobbies" (click)="closeNav()">Hobbies</a>
    <a routerLink="projects" (click)="closeNav()">Projects</a>
    <a routerLink="contact" (click)="closeNav()">Contact</a>
  </div>
  
  <div id="main">
    <button class="openbtn" (click)="openNav()">☰</button>  
  </div>