body {
  font-family: "Lato", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

/*.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}*/

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav a {
  padding: 14px 16px;
  float: left;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
  font-size: 23px;
  border-radius: 5px;
}

.topnav a:hover {
  color: #f1f1f1;
}