@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Hello, I'm Elmer</h1>
        <img src="~/images/temp.jpg" alt="temp image" align="right" id="profile_img"/>
        <p>
            Pellentesque cum cum elit nisl nunc eu consequat tristique facilisi arcu lorem fermentum. Vehicula amet suspendisse vehicula dapibus vel massa. At suscipit vulputate nostra faucibus nam. Feugiat tempus habitasse diam diam risus. Scelerisque rhoncus odio consequat quam orci luctus auctor urna hac platea congue. Nam habitant pellentesque aptent vivamus sollicitudin dolor. Laoreet nam, montes bibendum. Nibh, vestibulum curabitur ad. Parturient malesuada in mus metus conubia posuere suspendisse platea sodales. Dolor euismod lorem quisque porttitor eget massa aliquet etiam vel sagittis dui hac. Aptent inceptos lobortis feugiat nisi cubilia. Dis convallis vulputate sit. Penatibus tellus orci nostra id hac commodo ultrices curabitur ultrices litora. Accumsan porta odio gravida.
        </p>
        <p>
            Integer lectus eros tempor velit mattis mauris nostra integer vestibulum diam nisl. Vitae imperdiet mi consequat primis rutrum tempor potenti. Ipsum leo venenatis curae; sagittis mi sed interdum risus volutpat neque nostra sociis. Fermentum egestas id duis consequat consequat at vel ullamcorper ac fermentum fringilla. Cum, facilisi curae; habitasse ac metus cum tristique pulvinar. Semper nullam iaculis vestibulum ornare eros sociis nulla in sit dui? Felis quam et et netus nec, fusce sed sed suscipit. Lacinia quisque inceptos hendrerit ornare nec mi elementum nibh gravida amet quisque metus! Odio libero inceptos amet, adipiscing eu. Rhoncus diam magna condimentum porta natoque aliquam. Sit nulla per orci tellus nunc pharetra. Augue nulla cras bibendum?
        </p>
        <p>
            Dignissim ipsum, morbi lacus integer. Risus arcu natoque turpis placerat sagittis sociosqu egestas. Porttitor ornare lorem dictum faucibus erat et. A sodales litora parturient condimentum vivamus felis? Integer cras venenatis aliquet pretium montes magna primis vivamus urna tempus. Duis consequat pretium sociosqu vehicula volutpat conubia. Potenti duis risus sociosqu leo congue laoreet nisi. Sagittis aenean facilisi ante habitant id imperdiet auctor bibendum ligula? At litora inceptos cubilia tempus sit primis egestas mus ante. Facilisi habitant sem, himenaeos congue. Elementum nostra malesuada justo amet, laoreet parturient rutrum. Diam cras egestas mollis quam facilisi curae; ut lectus fames cras sodales eget! Rhoncus conubia fusce commodo. Id luctus torquent, amet inceptos. Conubia velit lacinia gravida. Sed sapien eleifend fringilla vel. Massa congue himenaeos amet. Leo, nam at dapibus tincidunt hendrerit aptent luctus odio. Egestas bibendum, aptent per dignissim ultricies. Praesent primis elit lacinia tempus ligula potenti dis faucibus! Ultrices.
        </p>
        <p>
            At phasellus mattis congue interdum. Turpis sapien quisque cursus lacus urna varius fringilla cursus cubilia cubilia ridiculus. Nulla, phasellus vestibulum vehicula cras habitant tristique netus nisl penatibus leo velit! Nisi tempor ante parturient habitant, platea mus! Justo tellus per sociis porttitor himenaeos venenatis fringilla luctus. Massa habitasse natoque, senectus ante leo. Nec fringilla eu cubilia. Eleifend ac mattis consectetur. Purus iaculis morbi donec. Morbi rhoncus phasellus leo! Dictum inceptos donec sapien. Feugiat quis rhoncus dis risus mi pellentesque proin ante rutrum quam sed maecenas. Purus lorem platea sollicitudin bibendum ullamcorper nunc nibh, facilisis consequat. Enim arcu, volutpat fames faucibus sed. Tincidunt facilisis tortor gravida ultricies porttitor aliquam sapien metus gravida habitasse. Aenean aenean tempor aliquet gravida. Nostra etiam magna convallis, luctus iaculis parturient mi volutpat vel magnis parturient venenatis. Libero.
        </p>
        <p>
            Porta dignissim placerat ridiculus. Parturient pulvinar dictum ipsum auctor eu. Porttitor leo amet aliquet, ipsum nisl scelerisque libero varius vivamus aliquam? Rutrum posuere rhoncus iaculis posuere aliquet vel, praesent curabitur lobortis senectus. Mattis faucibus curae; urna pretium gravida hac fusce urna. Fermentum praesent montes nisi himenaeos ad rutrum feugiat in curabitur. Elementum aptent mi egestas consequat erat diam posuere. Ac diam risus parturient risus, lacus lacus! Risus rhoncus diam molestie. Consequat gravida eleifend nam sodales nibh conubia duis? Senectus phasellus vivamus quam. Nunc lorem elementum himenaeos id ridiculus! Magnis dis feugiat placerat! Enim lobortis taciti sociosqu lacinia ridiculus sodales tellus luctus. Odio tempor aenean leo elit fames suscipit magnis dis inceptos platea a mus. Tempus aliquet libero.
        </p>        
    </div>
